trunk/software/grid/v1_0/schema/CaArraySvc_v1_0/v1_0_gov.nih.nci.caarray.external.query.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:qry="gme://External.caArray.caBIG/1.0/gov.nih.nci.caarray.external.query"
    xmlns:car="gme://External.caArray.caBIG/1.0/gov.nih.nci.caarray.external"
    xmlns:exp="gme://External.caArray.caBIG/1.0/gov.nih.nci.caarray.external.experiment"
    xmlns:arr="gme://External.caArray.caBIG/1.0/gov.nih.nci.caarray.external.array"
    xmlns:dat="gme://External.caArray.caBIG/1.0/gov.nih.nci.caarray.external.data"
    xmlns:sam="gme://External.caArray.caBIG/1.0/gov.nih.nci.caarray.external.sample"
    targetNamespace="gme://External.caArray.caBIG/1.0/gov.nih.nci.caarray.external.query" elementFormDefault="qualified">
    <xs:import namespace="gme://External.caArray.caBIG/1.0/gov.nih.nci.caarray.external"
        schemaLocation="v1_0_gov.nih.nci.caarray.external.xsd" />
    <xs:import namespace="gme://External.caArray.caBIG/1.0/gov.nih.nci.caarray.external.experiment"
        schemaLocation="v1_0_gov.nih.nci.caarray.external.experiment.xsd" />
    <xs:import namespace="gme://External.caArray.caBIG/1.0/gov.nih.nci.caarray.external.array"
        schemaLocation="v1_0_gov.nih.nci.caarray.external.array.xsd" />
    <xs:import namespace="gme://External.caArray.caBIG/1.0/gov.nih.nci.caarray.external.data"
        schemaLocation="v1_0_gov.nih.nci.caarray.external.data.xsd" />
    <xs:import namespace="gme://External.caArray.caBIG/1.0/gov.nih.nci.caarray.external.sample"
        schemaLocation="v1_0_gov.nih.nci.caarray.external.sample.xsd" />

    <xs:element name="LimitOffset" type="qry:LimitOffset" />
    <xs:complexType name="LimitOffset">
        <xs:sequence/>
        <xs:attribute name="limit" type="xs:int"/>            
        <xs:attribute name="offset" type="xs:int"/>
    </xs:complexType>        

    <xs:element name="AnnotationCriterion" type="qry:AnnotationCriterion" />
    <xs:complexType name="AnnotationCriterion">
        <xs:sequence>
            <xs:element name="category" type="car:CaArrayEntityReference" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
        <xs:attribute name="value" type="xs:string" />
    </xs:complexType>

    <xs:element name="ExperimentSearchCriteria" type="qry:ExperimentSearchCriteria" />
    <xs:complexType name="ExperimentSearchCriteria">
        <xs:sequence>
            <xs:element name="organism" type="car:CaArrayEntityReference" minOccurs="0" maxOccurs="1" />
            <xs:element name="principalInvestigators">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="PrincipalInvestigator" type="car:CaArrayEntityReference" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="arrayProvider" type="car:CaArrayEntityReference" minOccurs="0" maxOccurs="1" />
            <xs:element name="assayType" type="car:CaArrayEntityReference" minOccurs="0" maxOccurs="1" />
            <xs:element name="annotationCriterions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="qry:AnnotationCriterion" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="title" type="xs:string" />
        <xs:attribute name="publicIdentifier" type="xs:string" />
    </xs:complexType>
    
    <xs:element name="FileSearchCriteria" type="qry:FileSearchCriteria" />
    <xs:complexType name="FileSearchCriteria">
        <xs:sequence>
            <xs:element name="experiment" type="car:CaArrayEntityReference" minOccurs="0" maxOccurs="1" />
            <xs:element name="types">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="car:AbstractCaArrayEntity" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="categories">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="dat:FileCategory" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="experimentGraphNodes">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="car:CaArrayEntityReference" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="extension" type="xs:string" />
    </xs:complexType>
    
    <xs:element name="BiomaterialSearchCriteria" type="qry:BiomaterialSearchCriteria" />
    <xs:complexType name="BiomaterialSearchCriteria">
        <xs:sequence>
            <xs:element name="experiment" type="car:CaArrayEntityReference" minOccurs="0" maxOccurs="1" />
            <xs:element name="names">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="externalIds">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="externalId" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="types">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="sam:BiomaterialType" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="annotationCriterions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="qry:AnnotationCriterion" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="HybridizationSearchCriteria" type="qry:HybridizationSearchCriteria" />
    <xs:complexType name="HybridizationSearchCriteria">
        <xs:sequence>
            <xs:element name="experiment" type="car:CaArrayEntityReference" minOccurs="0" maxOccurs="1" />
            <xs:element name="names">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="biomaterials">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="car:CaArrayEntityReference" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="QuantitationTypeSearchCriteria" type="qry:QuantitationTypeSearchCriteria" />
    <xs:complexType name="QuantitationTypeSearchCriteria">
        <xs:sequence>
            <xs:element name="hybridization" type="car:AbstractCaArrayEntity" minOccurs="1" maxOccurs="1" />
            <xs:element name="fileTypes">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="car:AbstractCaArrayEntity" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="fileCategories">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="dat:FileCategory" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="arrayDataTypes">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="car:AbstractCaArrayEntity" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="KeywordSearchCriteria" type="qry:KeywordSearchCriteria" />
    <xs:complexType name="KeywordSearchCriteria">
        <xs:attribute name="keyword" type="xs:string" />
    </xs:complexType>

    <xs:element name="BiomaterialKeywordSearchCriteria" type="qry:BiomaterialKeywordSearchCriteria" />
    <xs:complexType name="BiomaterialKeywordSearchCriteria">
        <xs:complexContent>
            <xs:extension base="qry:KeywordSearchCriteria">
                <xs:sequence>
                    <xs:element name="types">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="sam:BiomaterialType" minOccurs="0" maxOccurs="unbounded" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="MatchMode" type="qry:MatchMode" />
    <xs:simpleType name="MatchMode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EXACT"/>
            <xs:enumeration value="START"/>
            <xs:enumeration value="END"/>
            <xs:enumeration value="ANYWHERE"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="ExampleSearchCriteria" type="qry:ExampleSearchCriteria" />
    <xs:complexType name="ExampleSearchCriteria">
        <xs:sequence>
            <xs:element name="example" type="car:AbstractCaArrayEntity" minOccurs="1" maxOccurs="1" />
            <xs:element name="matchMode" type="qry:MatchMode" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
        <xs:attribute name="excludeNulls" type="xs:boolean" />
        <xs:attribute name="excludeZeroes" type="xs:boolean" />
    </xs:complexType>

    <xs:element name="SearchResult" type="qry:SearchResult" />
    <xs:complexType name="SearchResult">
        <xs:sequence>
            <xs:element name="results">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="car:AbstractCaArrayEntity" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>            
        </xs:sequence>
        <xs:attribute name="maxAllowedResults" type="xs:int"/>            
        <xs:attribute name="firstResultOffset" type="xs:int"/>
    </xs:complexType>
    
    <xs:element name="DataSetRequest" type="qry:DataSetRequest" />
    <xs:complexType name="DataSetRequest">
    	<xs:sequence>
			<xs:element name="quantitationTypes">
	  			<xs:complexType>
	    			<xs:sequence>
	      				<xs:element ref="car:CaArrayEntityReference" minOccurs="1" maxOccurs="unbounded"/>
	    			</xs:sequence>
	  			</xs:complexType>
			</xs:element>
			<xs:element name="hybridizations">
	  			<xs:complexType>
	    			<xs:sequence>
	      				<xs:element ref="car:CaArrayEntityReference" minOccurs="0" maxOccurs="unbounded"/>
	    			</xs:sequence>
	  			</xs:complexType>
			</xs:element>
			<xs:element name="dataFiles">
	  			<xs:complexType>
	    			<xs:sequence>
	      				<xs:element ref="car:CaArrayEntityReference" minOccurs="0" maxOccurs="unbounded"/>
	    			</xs:sequence>
	  			</xs:complexType>
			</xs:element>
      	</xs:sequence>
    </xs:complexType>

    <xs:element name="AnnotationSetRequest" type="qry:AnnotationSetRequest" />
    <xs:complexType name="AnnotationSetRequest">
        <xs:sequence>
            <xs:element name="experimentGraphNodes">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="car:CaArrayEntityReference" minOccurs="1" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="categories">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="car:CaArrayEntityReference" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
