software/CaArraySvc/schema/CaArraySvc/edu.wustl.catissuecore.domain.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="gme://caCORE.caCORE/3.2/edu.wustl.catissuecore.domain" xmlns:gov.nih.nci.caarray.domain="gme://caCORE.caCORE/3.2/gov.nih.nci.caarray.domain" xmlns:gov.nih.nci.caarray.domain.array="gme://caCORE.caCORE/3.2/gov.nih.nci.caarray.domain.array" xmlns:gov.nih.nci.caarray.domain.contact="gme://caCORE.caCORE/3.2/gov.nih.nci.caarray.domain.contact" xmlns:gov.nih.nci.caarray.domain.data="gme://caCORE.caCORE/3.2/gov.nih.nci.caarray.domain.data" xmlns:gov.nih.nci.caarray.domain.file="gme://caCORE.caCORE/3.2/gov.nih.nci.caarray.domain.file" xmlns:gov.nih.nci.caarray.domain.hybridization="gme://caCORE.caCORE/3.2/gov.nih.nci.caarray.domain.hybridization" xmlns:gov.nih.nci.caarray.domain.project="gme://caCORE.caCORE/3.2/gov.nih.nci.caarray.domain.project" xmlns:gov.nih.nci.caarray.domain.protocol="gme://caCORE.caCORE/3.2/gov.nih.nci.caarray.domain.protocol" xmlns:gov.nih.nci.caarray.domain.publication="gme://caCORE.caCORE/3.2/gov.nih.nci.caarray.domain.publication" xmlns:gov.nih.nci.caarray.domain.sample="gme://caCORE.caCORE/3.2/gov.nih.nci.caarray.domain.sample" xmlns:gov.nih.nci.caarray.domain.vocabulary="gme://caCORE.caCORE/3.2/gov.nih.nci.caarray.domain.vocabulary" xmlns:gov.nih.nci.cabio.domain="gme://caCORE.caCORE/3.2/gov.nih.nci.cabio.domain" targetNamespace="gme://caCORE.caCORE/3.2/edu.wustl.catissuecore.domain" elementFormDefault="qualified">
  <xs:import namespace="gme://caCORE.caCORE/3.2/gov.nih.nci.caarray.domain.publication" schemaLocation="gov.nih.nci.caarray.domain.publication.xsd" />
  <xs:import namespace="gme://caCORE.caCORE/3.2/gov.nih.nci.caarray.domain.contact" schemaLocation="gov.nih.nci.caarray.domain.contact.xsd" />
  <xs:import namespace="gme://caCORE.caCORE/3.2/gov.nih.nci.caarray.domain.protocol" schemaLocation="gov.nih.nci.caarray.domain.protocol.xsd" />
  <xs:import namespace="gme://caCORE.caCORE/3.2/gov.nih.nci.caarray.domain.hybridization" schemaLocation="gov.nih.nci.caarray.domain.hybridization.xsd" />
  <xs:import namespace="gme://caCORE.caCORE/3.2/gov.nih.nci.caarray.domain.array" schemaLocation="gov.nih.nci.caarray.domain.array.xsd" />
  <xs:import namespace="gme://caCORE.caCORE/3.2/gov.nih.nci.caarray.domain.project" schemaLocation="gov.nih.nci.caarray.domain.project.xsd" />
  <xs:import namespace="gme://caCORE.caCORE/3.2/gov.nih.nci.caarray.domain.file" schemaLocation="gov.nih.nci.caarray.domain.file.xsd" />
  <xs:import namespace="gme://caCORE.caCORE/3.2/gov.nih.nci.cabio.domain" schemaLocation="gov.nih.nci.cabio.domain.xsd" />
  <xs:import namespace="gme://caCORE.caCORE/3.2/gov.nih.nci.caarray.domain" schemaLocation="gov.nih.nci.caarray.domain.xsd" />
  <xs:import namespace="gme://caCORE.caCORE/3.2/gov.nih.nci.caarray.domain.vocabulary" schemaLocation="gov.nih.nci.caarray.domain.vocabulary.xsd" />
  <xs:import namespace="gme://caCORE.caCORE/3.2/gov.nih.nci.caarray.domain.sample" schemaLocation="gov.nih.nci.caarray.domain.sample.xsd" />
  <xs:import namespace="gme://caCORE.caCORE/3.2/gov.nih.nci.caarray.domain.data" schemaLocation="gov.nih.nci.caarray.domain.data.xsd" />
  <xs:element name="AbstractDomainObject" type="AbstractDomainObject" />
  <xs:complexType name="AbstractDomainObject">
    <xs:sequence />
    <xs:attribute name="id" type="xs:long" />
  </xs:complexType>
  <xs:element name="MolecularSpecimen" type="MolecularSpecimen" />
  <xs:complexType name="MolecularSpecimen">
    <xs:complexContent>
      <xs:extension base="Specimen">
        <xs:sequence />
        <xs:attribute name="concentrationInMicrogramPerMicroliter" type="xs:double" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Specimen" type="Specimen" />
  <xs:complexType name="Specimen">
    <xs:complexContent>
      <xs:extension base="AbstractDomainObject">
        <xs:sequence>
          <xs:element name="parentSpecimen" minOccurs="0" maxOccurs="1" type="Specimen" />
          <xs:element name="childrenSpecimen" minOccurs="0" maxOccurs="unbounded" type="Specimen" />
        </xs:sequence>
        <xs:attribute name="activityStatus" type="xs:string" />
        <xs:attribute name="available" type="xs:boolean" />
        <xs:attribute name="barcode" type="xs:string" />
        <xs:attribute name="comment" type="xs:string" />
        <xs:attribute name="createdOn" type="xs:dateTime" />
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute name="lineage" type="xs:string" />
        <xs:attribute name="pathologicalStatus" type="xs:string" />
        <xs:attribute name="positionDimensionOne" type="xs:integer" />
        <xs:attribute name="positionDimensionTwo" type="xs:integer" />
        <xs:attribute name="type" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

