software/CaArraySvc/schema/CaArraySvc/gov.nih.nci.caarray.domain.publication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="gme://caCORE.caCORE/3.2/gov.nih.nci.caarray.domain.publication" xmlns:edu.wustl.catissuecore.domain="gme://caCORE.caCORE/3.2/edu.wustl.catissuecore.domain" xmlns:gov.nih.nci.caarray.domain="gme://caCORE.caCORE/3.2/gov.nih.nci.caarray.domain" xmlns:gov.nih.nci.caarray.domain.array="gme://caCORE.caCORE/3.2/gov.nih.nci.caarray.domain.array" xmlns:gov.nih.nci.caarray.domain.contact="gme://caCORE.caCORE/3.2/gov.nih.nci.caarray.domain.contact" xmlns:gov.nih.nci.caarray.domain.data="gme://caCORE.caCORE/3.2/gov.nih.nci.caarray.domain.data" xmlns:gov.nih.nci.caarray.domain.file="gme://caCORE.caCORE/3.2/gov.nih.nci.caarray.domain.file" xmlns:gov.nih.nci.caarray.domain.hybridization="gme://caCORE.caCORE/3.2/gov.nih.nci.caarray.domain.hybridization" xmlns:gov.nih.nci.caarray.domain.project="gme://caCORE.caCORE/3.2/gov.nih.nci.caarray.domain.project" xmlns:gov.nih.nci.caarray.domain.protocol="gme://caCORE.caCORE/3.2/gov.nih.nci.caarray.domain.protocol" xmlns:gov.nih.nci.caarray.domain.sample="gme://caCORE.caCORE/3.2/gov.nih.nci.caarray.domain.sample" xmlns:gov.nih.nci.caarray.domain.vocabulary="gme://caCORE.caCORE/3.2/gov.nih.nci.caarray.domain.vocabulary" xmlns:gov.nih.nci.cabio.domain="gme://caCORE.caCORE/3.2/gov.nih.nci.cabio.domain" targetNamespace="gme://caCORE.caCORE/3.2/gov.nih.nci.caarray.domain.publication" elementFormDefault="qualified">
  <xs:import namespace="gme://caCORE.caCORE/3.2/gov.nih.nci.caarray.domain.data" schemaLocation="gov.nih.nci.caarray.domain.data.xsd" />
  <xs:import namespace="gme://caCORE.caCORE/3.2/gov.nih.nci.caarray.domain" schemaLocation="gov.nih.nci.caarray.domain.xsd" />
  <xs:import namespace="gme://caCORE.caCORE/3.2/gov.nih.nci.caarray.domain.hybridization" schemaLocation="gov.nih.nci.caarray.domain.hybridization.xsd" />
  <xs:import namespace="gme://caCORE.caCORE/3.2/gov.nih.nci.caarray.domain.file" schemaLocation="gov.nih.nci.caarray.domain.file.xsd" />
  <xs:import namespace="gme://caCORE.caCORE/3.2/gov.nih.nci.caarray.domain.vocabulary" schemaLocation="gov.nih.nci.caarray.domain.vocabulary.xsd" />
  <xs:import namespace="gme://caCORE.caCORE/3.2/gov.nih.nci.caarray.domain.array" schemaLocation="gov.nih.nci.caarray.domain.array.xsd" />
  <xs:import namespace="gme://caCORE.caCORE/3.2/gov.nih.nci.caarray.domain.sample" schemaLocation="gov.nih.nci.caarray.domain.sample.xsd" />
  <xs:import namespace="gme://caCORE.caCORE/3.2/gov.nih.nci.caarray.domain.contact" schemaLocation="gov.nih.nci.caarray.domain.contact.xsd" />
  <xs:import namespace="gme://caCORE.caCORE/3.2/gov.nih.nci.caarray.domain.project" schemaLocation="gov.nih.nci.caarray.domain.project.xsd" />
  <xs:import namespace="gme://caCORE.caCORE/3.2/edu.wustl.catissuecore.domain" schemaLocation="edu.wustl.catissuecore.domain.xsd" />
  <xs:import namespace="gme://caCORE.caCORE/3.2/gov.nih.nci.caarray.domain.protocol" schemaLocation="gov.nih.nci.caarray.domain.protocol.xsd" />
  <xs:import namespace="gme://caCORE.caCORE/3.2/gov.nih.nci.cabio.domain" schemaLocation="gov.nih.nci.cabio.domain.xsd" />
  <xs:element name="Publication" type="Publication" />
  <xs:complexType name="Publication">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.caarray.domain:AbstractCaArrayEntity">
        <xs:sequence>
          <xs:element name="status" minOccurs="0" maxOccurs="1" type="gov.nih.nci.caarray.domain.vocabulary:Term" />
          <xs:element name="type" minOccurs="0" maxOccurs="1" type="gov.nih.nci.caarray.domain.vocabulary:Term" />
        </xs:sequence>
        <xs:attribute name="authors" type="xs:string" />
        <xs:attribute name="doi" type="xs:string" />
        <xs:attribute name="editor" type="xs:string" />
        <xs:attribute name="issue" type="xs:string" />
        <xs:attribute name="pages" type="xs:string" />
        <xs:attribute name="publication" type="xs:string" />
        <xs:attribute name="publisher" type="xs:string" />
        <xs:attribute name="pubMedId" type="xs:string" />
        <xs:attribute name="title" type="xs:string" />
        <xs:attribute name="uri" type="xs:string" />
        <xs:attribute name="volume" type="xs:string" />
        <xs:attribute name="year" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

