software/CaArraySvc/schema/CaArraySvc/caArray/gov.nih.nci.caarray.domain.array.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="gme://caArray.caBIG/2.0/gov.nih.nci.caarray.domain.array" xmlns:gov.nih.nci.caarray.domain="gme://caArray.caBIG/2.0/gov.nih.nci.caarray.domain" xmlns:gov.nih.nci.caarray.domain.contact="gme://caArray.caBIG/2.0/gov.nih.nci.caarray.domain.contact" xmlns:gov.nih.nci.caarray.domain.data="gme://caArray.caBIG/2.0/gov.nih.nci.caarray.domain.data" xmlns:gov.nih.nci.caarray.domain.file="gme://caArray.caBIG/2.0/gov.nih.nci.caarray.domain.file" xmlns:gov.nih.nci.caarray.domain.hybridization="gme://caArray.caBIG/2.0/gov.nih.nci.caarray.domain.hybridization" xmlns:gov.nih.nci.caarray.domain.project="gme://caArray.caBIG/2.0/gov.nih.nci.caarray.domain.project" xmlns:gov.nih.nci.caarray.domain.protocol="gme://caArray.caBIG/2.0/gov.nih.nci.caarray.domain.protocol" xmlns:gov.nih.nci.caarray.domain.publication="gme://caArray.caBIG/2.0/gov.nih.nci.caarray.domain.publication" xmlns:gov.nih.nci.caarray.domain.sample="gme://caArray.caBIG/2.0/gov.nih.nci.caarray.domain.sample" xmlns:gov.nih.nci.caarray.domain.sequence="gme://caArray.caBIG/2.0/gov.nih.nci.caarray.domain.sequence" xmlns:gov.nih.nci.caarray.domain.vocabulary="gme://caArray.caBIG/2.0/gov.nih.nci.caarray.domain.vocabulary" targetNamespace="gme://caArray.caBIG/2.0/gov.nih.nci.caarray.domain.array" elementFormDefault="qualified">
  <xs:import namespace="gme://caArray.caBIG/2.0/gov.nih.nci.caarray.domain.sequence" schemaLocation="gov.nih.nci.caarray.domain.sequence.xsd" />
  <xs:import namespace="gme://caArray.caBIG/2.0/gov.nih.nci.caarray.domain.hybridization" schemaLocation="gov.nih.nci.caarray.domain.hybridization.xsd" />
  <xs:import namespace="gme://caArray.caBIG/2.0/gov.nih.nci.caarray.domain.data" schemaLocation="gov.nih.nci.caarray.domain.data.xsd" />
  <xs:import namespace="gme://caArray.caBIG/2.0/gov.nih.nci.caarray.domain.vocabulary" schemaLocation="gov.nih.nci.caarray.domain.vocabulary.xsd" />
  <xs:import namespace="gme://caArray.caBIG/2.0/gov.nih.nci.caarray.domain" schemaLocation="gov.nih.nci.caarray.domain.xsd" />
  <xs:import namespace="gme://caArray.caBIG/2.0/gov.nih.nci.caarray.domain.publication" schemaLocation="gov.nih.nci.caarray.domain.publication.xsd" />
  <xs:import namespace="gme://caArray.caBIG/2.0/gov.nih.nci.caarray.domain.contact" schemaLocation="gov.nih.nci.caarray.domain.contact.xsd" />
  <xs:import namespace="gme://caArray.caBIG/2.0/gov.nih.nci.caarray.domain.project" schemaLocation="gov.nih.nci.caarray.domain.project.xsd" />
  <xs:import namespace="gme://caArray.caBIG/2.0/gov.nih.nci.caarray.domain.file" schemaLocation="gov.nih.nci.caarray.domain.file.xsd" />
  <xs:import namespace="gme://caArray.caBIG/2.0/gov.nih.nci.caarray.domain.sample" schemaLocation="gov.nih.nci.caarray.domain.sample.xsd" />
  <xs:import namespace="gme://caArray.caBIG/2.0/gov.nih.nci.caarray.domain.protocol" schemaLocation="gov.nih.nci.caarray.domain.protocol.xsd" />
  <xs:element name="ArrayGroup" type="ArrayGroup" />
  <xs:complexType name="ArrayGroup">
    <xs:sequence>
      <xs:element name="arrays" minOccurs="1" maxOccurs="unbounded" type="Array" />
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>
  <xs:element name="ArrayDesignDetails" type="ArrayDesignDetails" />
  <xs:complexType name="ArrayDesignDetails">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.caarray.domain:AbstractCaArrayObject">
        <xs:sequence>
          <xs:element name="reporters" minOccurs="0" maxOccurs="unbounded" type="PhysicalReporter" />
          <xs:element name="reporterGroups" minOccurs="0" maxOccurs="unbounded" type="ReporterGroup" />
          <xs:element name="features" minOccurs="0" maxOccurs="unbounded" type="Feature" />
          <xs:element name="compositeReporters" minOccurs="0" maxOccurs="unbounded" type="CompositeReporter" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ArrayDesign" type="ArrayDesign" />
  <xs:complexType name="ArrayDesign">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.caarray.domain:AbstractCaArrayEntity">
        <xs:sequence>
          <xs:element name="technologyType" minOccurs="0" maxOccurs="1" type="gov.nih.nci.caarray.domain.vocabulary:Term" />
          <xs:element name="provider" minOccurs="1" maxOccurs="1" type="gov.nih.nci.caarray.domain.contact:Organization" />
          <xs:element name="polymerType" minOccurs="0" maxOccurs="1" type="gov.nih.nci.caarray.domain.vocabulary:Term" />
          <xs:element name="printing" minOccurs="0" maxOccurs="1" type="gov.nih.nci.caarray.domain.protocol:ProtocolApplication" />
          <xs:element name="substrateType" minOccurs="0" maxOccurs="1" type="gov.nih.nci.caarray.domain.vocabulary:Term" />
          <xs:element name="surfaceType" minOccurs="0" maxOccurs="1" type="gov.nih.nci.caarray.domain.vocabulary:Term" />
          <xs:element name="designFile" minOccurs="0" maxOccurs="1" type="gov.nih.nci.caarray.domain.file:CaArrayFile" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" />
        <xs:attribute name="version" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AbstractDesignElement" type="AbstractDesignElement" />
  <xs:complexType name="AbstractDesignElement">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.caarray.domain:AbstractCaArrayEntity">
        <xs:sequence />
        <xs:attribute name="name" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Feature" type="Feature" />
  <xs:complexType name="Feature">
    <xs:complexContent>
      <xs:extension base="AbstractDesignElement">
        <xs:sequence>
          <xs:element name="reporters" minOccurs="0" maxOccurs="unbounded" type="PhysicalReporter" />
          <xs:element name="arrayDesignDetails" minOccurs="1" maxOccurs="1" type="ArrayDesignDetails" />
        </xs:sequence>
        <xs:attribute name="blockColumn" type="xs:int" />
        <xs:attribute name="blockRow" type="xs:int" />
        <xs:attribute name="column" type="xs:int" />
        <xs:attribute name="row" type="xs:int" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AbstractReporter" type="AbstractReporter" />
  <xs:complexType name="AbstractReporter">
    <xs:complexContent>
      <xs:extension base="AbstractDesignElement">
        <xs:sequence>
          <xs:element name="probeSequence" minOccurs="0" maxOccurs="1" type="gov.nih.nci.caarray.domain.sequence:Sequence" />
          <xs:element name="probeAccession" minOccurs="0" maxOccurs="unbounded" type="gov.nih.nci.caarray.domain.vocabulary:Accession" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Array" type="Array" />
  <xs:complexType name="Array">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.caarray.domain:AbstractCaArrayEntity">
        <xs:sequence>
          <xs:element name="design" minOccurs="1" maxOccurs="1" type="ArrayDesign" />
          <xs:element name="arrayGroup" minOccurs="0" maxOccurs="1" type="ArrayGroup" />
          <xs:element name="production" minOccurs="0" maxOccurs="1" type="gov.nih.nci.caarray.domain.protocol:ProtocolApplication" />
        </xs:sequence>
        <xs:attribute name="batch" type="xs:string" />
        <xs:attribute name="serialNumber" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CompositeReporter" type="CompositeReporter" />
  <xs:complexType name="CompositeReporter">
    <xs:complexContent>
      <xs:extension base="AbstractReporter">
        <xs:sequence>
          <xs:element name="reporters" minOccurs="0" maxOccurs="unbounded" type="PhysicalReporter" />
          <xs:element name="arrayDesignDetails" minOccurs="1" maxOccurs="1" type="ArrayDesignDetails" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReporterGroup" type="ReporterGroup" />
  <xs:complexType name="ReporterGroup">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.caarray.domain:AbstractCaArrayEntity">
        <xs:sequence>
          <xs:element name="reporters" minOccurs="1" maxOccurs="unbounded" type="PhysicalReporter" />
          <xs:element name="arrayDesignDetails" minOccurs="1" maxOccurs="1" type="ArrayDesignDetails" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PhysicalReporter" type="PhysicalReporter" />
  <xs:complexType name="PhysicalReporter">
    <xs:complexContent>
      <xs:extension base="AbstractReporter">
        <xs:sequence>
          <xs:element name="reporterGroup" minOccurs="1" maxOccurs="1" type="ReporterGroup" />
          <xs:element name="arrayDesignDetails" minOccurs="1" maxOccurs="1" type="ArrayDesignDetails" />
          <xs:element name="controlType" minOccurs="1" maxOccurs="1" type="gov.nih.nci.caarray.domain.vocabulary:Term" />
          <xs:element name="features" minOccurs="0" maxOccurs="unbounded" type="Feature" />
          <xs:element name="compositeReporters" minOccurs="0" maxOccurs="unbounded" type="CompositeReporter" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

