software/caarray-generated/src/main/resources/gov.nih.nci.mageom.domain.DesignElement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.DesignElement" xmlns:gov.nih.nci.mageom.domain="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain" xmlns:gov.nih.nci.mageom.domain.Array="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.Array" xmlns:gov.nih.nci.mageom.domain.ArrayDesign="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.ArrayDesign" xmlns:gov.nih.nci.mageom.domain.AuditAndSecurity="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.AuditAndSecurity" xmlns:gov.nih.nci.mageom.domain.BioAssay="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.BioAssay" xmlns:gov.nih.nci.mageom.domain.BioAssayData="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.BioAssayData" xmlns:gov.nih.nci.mageom.domain.BioEvent="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.BioEvent" xmlns:gov.nih.nci.mageom.domain.BioMaterial="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.BioMaterial" xmlns:gov.nih.nci.mageom.domain.BioSequence="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.BioSequence" xmlns:gov.nih.nci.mageom.domain.BQS="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.BQS" xmlns:gov.nih.nci.mageom.domain.Description="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.Description" xmlns:gov.nih.nci.mageom.domain.Experiment="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.Experiment" xmlns:gov.nih.nci.mageom.domain.HigherLevelAnalysis="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.HigherLevelAnalysis" xmlns:gov.nih.nci.mageom.domain.Measurement="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.Measurement" xmlns:gov.nih.nci.mageom.domain.Protocol="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.Protocol" xmlns:gov.nih.nci.mageom.domain.QuantitationType="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.QuantitationType" targetNamespace="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.DesignElement" elementFormDefault="qualified">
  <xs:import namespace="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.BioEvent" schemaLocation="gov.nih.nci.mageom.domain.BioEvent.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.BioMaterial" schemaLocation="gov.nih.nci.mageom.domain.BioMaterial.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.Protocol" schemaLocation="gov.nih.nci.mageom.domain.Protocol.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.BioAssayData" schemaLocation="gov.nih.nci.mageom.domain.BioAssayData.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.Description" schemaLocation="gov.nih.nci.mageom.domain.Description.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.AuditAndSecurity" schemaLocation="gov.nih.nci.mageom.domain.AuditAndSecurity.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.ArrayDesign" schemaLocation="gov.nih.nci.mageom.domain.ArrayDesign.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.BioAssay" schemaLocation="gov.nih.nci.mageom.domain.BioAssay.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.Measurement" schemaLocation="gov.nih.nci.mageom.domain.Measurement.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.HigherLevelAnalysis" schemaLocation="gov.nih.nci.mageom.domain.HigherLevelAnalysis.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain" schemaLocation="gov.nih.nci.mageom.domain.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.Experiment" schemaLocation="gov.nih.nci.mageom.domain.Experiment.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.BQS" schemaLocation="gov.nih.nci.mageom.domain.BQS.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.QuantitationType" schemaLocation="gov.nih.nci.mageom.domain.QuantitationType.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.BioSequence" schemaLocation="gov.nih.nci.mageom.domain.BioSequence.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.Array" schemaLocation="gov.nih.nci.mageom.domain.Array.xsd" />
  <xs:element name="FeatureInformation" type="FeatureInformation" />
  <xs:complexType name="FeatureInformation">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain:Extendable">
        <xs:sequence>
          <xs:element name="feature" type="Feature" minOccurs="0" maxOccurs="1" />
          <xs:element name="mismatchInformation" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="MismatchInformation" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:long" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CompositeCompositeMap" type="CompositeCompositeMap" />
  <xs:complexType name="CompositeCompositeMap">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain.BioAssayData:DesignElementMap">
        <xs:sequence>
          <xs:element name="compositeSequence" type="CompositeSequence" minOccurs="0" maxOccurs="1" />
          <xs:element name="compositePositionSources" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="CompositePosition" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CompositePosition" type="CompositePosition" />
  <xs:complexType name="CompositePosition">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain.BioSequence:SequencePosition">
        <xs:sequence>
          <xs:element name="composite" type="CompositeSequence" minOccurs="0" maxOccurs="1" />
          <xs:element name="mismatchInformation" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="MismatchInformation" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Feature" type="Feature" />
  <xs:complexType name="Feature">
    <xs:complexContent>
      <xs:extension base="DesignElement">
        <xs:sequence>
          <xs:element name="position" type="Position" minOccurs="0" maxOccurs="1" />
          <xs:element name="controlledFeatures" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Feature" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="controlFeatures" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Feature" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="featureGroup" type="gov.nih.nci.mageom.domain.ArrayDesign:FeatureGroup" minOccurs="0" maxOccurs="1" />
          <xs:element name="featureLocation" type="FeatureLocation" minOccurs="0" maxOccurs="1" />
          <xs:element name="zone" type="gov.nih.nci.mageom.domain.ArrayDesign:Zone" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:long" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Position" type="Position" />
  <xs:complexType name="Position">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain:Extendable">
        <xs:sequence>
          <xs:element name="distanceUnit" type="gov.nih.nci.mageom.domain.Measurement:DistanceUnit" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:long" />
        <xs:attribute name="x" type="xs:float" />
        <xs:attribute name="y" type="xs:float" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReporterCompositeMap" type="ReporterCompositeMap" />
  <xs:complexType name="ReporterCompositeMap">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain.BioAssayData:DesignElementMap">
        <xs:sequence>
          <xs:element name="compositeSequence" type="CompositeSequence" minOccurs="0" maxOccurs="1" />
          <xs:element name="reporterPositionSources" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ReporterPosition" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReporterPosition" type="ReporterPosition" />
  <xs:complexType name="ReporterPosition">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain.BioSequence:SequencePosition">
        <xs:sequence>
          <xs:element name="reporter" type="Reporter" minOccurs="0" maxOccurs="1" />
          <xs:element name="mismatchInformation" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="MismatchInformation" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FeatureReporterMap" type="FeatureReporterMap" />
  <xs:complexType name="FeatureReporterMap">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain.BioAssayData:DesignElementMap">
        <xs:sequence>
          <xs:element name="reporter" type="Reporter" minOccurs="0" maxOccurs="1" />
          <xs:element name="featureInformationSources" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="FeatureInformation" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DesignElement" type="DesignElement" />
  <xs:complexType name="DesignElement">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain:Identifiable">
        <xs:sequence>
          <xs:element name="controlType" type="gov.nih.nci.mageom.domain.Description:OntologyEntry" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Reporter" type="Reporter" />
  <xs:complexType name="Reporter">
    <xs:complexContent>
      <xs:extension base="DesignElement">
        <xs:sequence>
          <xs:element name="warningType" type="gov.nih.nci.mageom.domain.Description:OntologyEntry" minOccurs="0" maxOccurs="1" />
          <xs:element name="failTypes" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="OntologyEntry" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="immobilizedCharacteristics" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="BioSequence" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="featureReporterMaps" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="FeatureReporterMap" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:long" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MismatchInformation" type="MismatchInformation" />
  <xs:complexType name="MismatchInformation">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain:Extendable">
        <xs:sequence />
        <xs:attribute name="id" type="xs:long" />
        <xs:attribute name="newSequence" type="xs:string" />
        <xs:attribute name="replacedLength" type="xs:int" />
        <xs:attribute name="startCoord" type="xs:int" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CompositeSequence" type="CompositeSequence" />
  <xs:complexType name="CompositeSequence">
    <xs:complexContent>
      <xs:extension base="DesignElement">
        <xs:sequence>
          <xs:element name="reporterCompositeMaps" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ReporterCompositeMap" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="compositeCompositeMaps" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="CompositeCompositeMap" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="biologicalCharacteristics" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="BioSequence" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:long" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FeatureLocation" type="FeatureLocation" />
  <xs:complexType name="FeatureLocation">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain:Extendable">
        <xs:sequence />
        <xs:attribute name="column" type="xs:int" />
        <xs:attribute name="id" type="xs:long" />
        <xs:attribute name="row" type="xs:int" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

