software/caarray-generated/src/main/resources/gov.nih.nci.mageom.domain.BioEvent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.BioEvent" xmlns:gov.nih.nci.mageom.domain="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain" xmlns:gov.nih.nci.mageom.domain.Array="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.Array" xmlns:gov.nih.nci.mageom.domain.ArrayDesign="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.ArrayDesign" xmlns:gov.nih.nci.mageom.domain.AuditAndSecurity="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.AuditAndSecurity" xmlns:gov.nih.nci.mageom.domain.BioAssay="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.BioAssay" xmlns:gov.nih.nci.mageom.domain.BioAssayData="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.BioAssayData" xmlns:gov.nih.nci.mageom.domain.BioMaterial="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.BioMaterial" xmlns:gov.nih.nci.mageom.domain.BioSequence="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.BioSequence" xmlns:gov.nih.nci.mageom.domain.BQS="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.BQS" xmlns:gov.nih.nci.mageom.domain.Description="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.Description" xmlns:gov.nih.nci.mageom.domain.DesignElement="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.DesignElement" xmlns:gov.nih.nci.mageom.domain.Experiment="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.Experiment" xmlns:gov.nih.nci.mageom.domain.HigherLevelAnalysis="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.HigherLevelAnalysis" xmlns:gov.nih.nci.mageom.domain.Measurement="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.Measurement" xmlns:gov.nih.nci.mageom.domain.Protocol="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.Protocol" xmlns:gov.nih.nci.mageom.domain.QuantitationType="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.QuantitationType" targetNamespace="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.BioEvent" elementFormDefault="qualified">
  <xs:import namespace="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.AuditAndSecurity" schemaLocation="gov.nih.nci.mageom.domain.AuditAndSecurity.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.DesignElement" schemaLocation="gov.nih.nci.mageom.domain.DesignElement.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.BioAssayData" schemaLocation="gov.nih.nci.mageom.domain.BioAssayData.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.BioMaterial" schemaLocation="gov.nih.nci.mageom.domain.BioMaterial.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.BioSequence" schemaLocation="gov.nih.nci.mageom.domain.BioSequence.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.HigherLevelAnalysis" schemaLocation="gov.nih.nci.mageom.domain.HigherLevelAnalysis.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.ArrayDesign" schemaLocation="gov.nih.nci.mageom.domain.ArrayDesign.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.Measurement" schemaLocation="gov.nih.nci.mageom.domain.Measurement.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.Protocol" schemaLocation="gov.nih.nci.mageom.domain.Protocol.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.QuantitationType" schemaLocation="gov.nih.nci.mageom.domain.QuantitationType.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.Array" schemaLocation="gov.nih.nci.mageom.domain.Array.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.BQS" schemaLocation="gov.nih.nci.mageom.domain.BQS.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.Experiment" schemaLocation="gov.nih.nci.mageom.domain.Experiment.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain" schemaLocation="gov.nih.nci.mageom.domain.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.BioAssay" schemaLocation="gov.nih.nci.mageom.domain.BioAssay.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.Description" schemaLocation="gov.nih.nci.mageom.domain.Description.xsd" />
  <xs:element name="Map" type="Map" />
  <xs:complexType name="Map">
    <xs:complexContent>
      <xs:extension base="BioEvent">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BioEvent" type="BioEvent" />
  <xs:complexType name="BioEvent">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain:Identifiable">
        <xs:sequence>
          <xs:element name="protocolApplications" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ProtocolApplication" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

