software/caarray-generated/src/main/resources/gov.nih.nci.mageom.domain.QuantitationType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.QuantitationType" xmlns:gov.nih.nci.mageom.domain="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain" xmlns:gov.nih.nci.mageom.domain.Array="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.Array" xmlns:gov.nih.nci.mageom.domain.ArrayDesign="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.ArrayDesign" xmlns:gov.nih.nci.mageom.domain.AuditAndSecurity="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.AuditAndSecurity" xmlns:gov.nih.nci.mageom.domain.BioAssay="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.BioAssay" xmlns:gov.nih.nci.mageom.domain.BioAssayData="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.BioAssayData" xmlns:gov.nih.nci.mageom.domain.BioEvent="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.BioEvent" xmlns:gov.nih.nci.mageom.domain.BioMaterial="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.BioMaterial" xmlns:gov.nih.nci.mageom.domain.BioSequence="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.BioSequence" xmlns:gov.nih.nci.mageom.domain.BQS="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.BQS" xmlns:gov.nih.nci.mageom.domain.Description="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.Description" xmlns:gov.nih.nci.mageom.domain.DesignElement="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.DesignElement" xmlns:gov.nih.nci.mageom.domain.Experiment="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.Experiment" xmlns:gov.nih.nci.mageom.domain.HigherLevelAnalysis="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.HigherLevelAnalysis" xmlns:gov.nih.nci.mageom.domain.Measurement="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.Measurement" xmlns:gov.nih.nci.mageom.domain.Protocol="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.Protocol" targetNamespace="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.QuantitationType" elementFormDefault="qualified">
  <xs:import namespace="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.Measurement" schemaLocation="gov.nih.nci.mageom.domain.Measurement.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.BioSequence" schemaLocation="gov.nih.nci.mageom.domain.BioSequence.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.Description" schemaLocation="gov.nih.nci.mageom.domain.Description.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.BioMaterial" schemaLocation="gov.nih.nci.mageom.domain.BioMaterial.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.BQS" schemaLocation="gov.nih.nci.mageom.domain.BQS.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain" schemaLocation="gov.nih.nci.mageom.domain.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.DesignElement" schemaLocation="gov.nih.nci.mageom.domain.DesignElement.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.Experiment" schemaLocation="gov.nih.nci.mageom.domain.Experiment.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.HigherLevelAnalysis" schemaLocation="gov.nih.nci.mageom.domain.HigherLevelAnalysis.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.BioAssay" schemaLocation="gov.nih.nci.mageom.domain.BioAssay.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.Array" schemaLocation="gov.nih.nci.mageom.domain.Array.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.AuditAndSecurity" schemaLocation="gov.nih.nci.mageom.domain.AuditAndSecurity.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.BioAssayData" schemaLocation="gov.nih.nci.mageom.domain.BioAssayData.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.ArrayDesign" schemaLocation="gov.nih.nci.mageom.domain.ArrayDesign.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.Protocol" schemaLocation="gov.nih.nci.mageom.domain.Protocol.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.2/gov.nih.nci.mageom.domain.BioEvent" schemaLocation="gov.nih.nci.mageom.domain.BioEvent.xsd" />
  <xs:element name="StandardQuantitationType" type="StandardQuantitationType" />
  <xs:complexType name="StandardQuantitationType">
    <xs:complexContent>
      <xs:extension base="QuantitationType">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SpecializedQuantitationType" type="SpecializedQuantitationType" />
  <xs:complexType name="SpecializedQuantitationType">
    <xs:complexContent>
      <xs:extension base="QuantitationType">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExpectedValue" type="ExpectedValue" />
  <xs:complexType name="ExpectedValue">
    <xs:complexContent>
      <xs:extension base="ConfidenceIndicator">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Failed" type="Failed" />
  <xs:complexType name="Failed">
    <xs:complexContent>
      <xs:extension base="StandardQuantitationType">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QuantitationType" type="QuantitationType" />
  <xs:complexType name="QuantitationType">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain:Identifiable">
        <xs:sequence>
          <xs:element name="confidenceIndicators" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ConfidenceIndicator" minOccurs="0" maxOccurs="3" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="channel" type="gov.nih.nci.mageom.domain.BioAssay:Channel" minOccurs="0" maxOccurs="1" />
          <xs:element name="dataType" type="gov.nih.nci.mageom.domain.Description:OntologyEntry" minOccurs="0" maxOccurs="1" />
          <xs:element name="quantitationTypeMaps" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="QuantitationTypeMap" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="scale" type="gov.nih.nci.mageom.domain.Description:OntologyEntry" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:long" />
        <xs:attribute name="isBackground" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConfidenceIndicator" type="ConfidenceIndicator" />
  <xs:complexType name="ConfidenceIndicator">
    <xs:complexContent>
      <xs:extension base="StandardQuantitationType">
        <xs:sequence>
          <xs:element name="targetQuantitationType" type="QuantitationType" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DerivedSignal" type="DerivedSignal" />
  <xs:complexType name="DerivedSignal">
    <xs:complexContent>
      <xs:extension base="StandardQuantitationType">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Ratio" type="Ratio" />
  <xs:complexType name="Ratio">
    <xs:complexContent>
      <xs:extension base="StandardQuantitationType">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Error" type="Error" />
  <xs:complexType name="Error">
    <xs:complexContent>
      <xs:extension base="ConfidenceIndicator">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MeasuredSignal" type="MeasuredSignal" />
  <xs:complexType name="MeasuredSignal">
    <xs:complexContent>
      <xs:extension base="StandardQuantitationType">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PValue" type="PValue" />
  <xs:complexType name="PValue">
    <xs:complexContent>
      <xs:extension base="ConfidenceIndicator">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PresentAbsent" type="PresentAbsent" />
  <xs:complexType name="PresentAbsent">
    <xs:complexContent>
      <xs:extension base="StandardQuantitationType">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

